################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LINQ_test
/OOP
/Part 2
/Trial
/**/bin/Debug/netcoreapp3.1
/**/obj
